/* ===================================== 
   Public API Request
======================================== */

@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
	box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 100%;
}

body {
    font-family: "Nunito", sans-serif;
    text-align: center;
    background: #F2F5F8;
}

header {
    background: #fff;
    padding: 15px 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}

.header-inner-container {
    max-width: 1180px;
    margin: auto;
}

#logo {
    margin: 0 10% 10px 10%;
}

header h1 {
    font-size: 1.25em;
    color: rgba(50, 50, 50, 0.9);
    margin: 0 0 15px 0;
}

.search-input {
    padding: 0.4rem 1rem;
    border: 1px solid rgba(200, 200, 200, 0.9);
    border-right: none;
    border-radius: 1rem 0 0 1rem ;
    max-width: 20rem;
    transition: .4s ease-out;
    outline: none;
}

.search-submit {
    cursor: pointer;
    height: 33px;
    border-radius: 0 1rem 1rem 0;
    border: 1px solid rgba(200, 200, 200, 0.9);
    border-left: none;
    transition: .4s ease-out;
    outline: none;
    position: relative;
    left: -5px;
    background: #fff;
    font-family: 'FontAwesome', sans-serif;
    color: #444;
    font-size: 15px;
}

.search-container:hover .search-input,
.search-container:focus .search-input {
    border: 1px solid rgba(50, 50, 50, 0.9);
    border-right: none;
}

.search-container:hover .search-submit,
.search-container:focus .search-submit {
    border: 1px solid rgba(50, 50, 50, 0.9);
    border-left: none;
}


/* ===================================== 
   Gallery
======================================== */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
  
.card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    max-width: 360px;
    margin: 10px 10px 20px;
    padding: 10px;
    background: #fff;
    border-radius: 0.25em;
    transition: .4s ease-out;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.card-img {
    width: 95px;
    margin: 10px 15px auto 10px;
    border-radius: 50%;
}

.card-info-container {
    text-align: left;
}

.card-name {
    margin: 20px auto 0;
}

.card-text {
    font-size: 0.9em;
    color: rgba(50, 50, 50, 0.7);
    margin: 7px auto;
    transition: .4s ease-out;
}

.cap {
    text-transform: capitalize;
}


/* ===================================== 
   Modal
======================================== */

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modal {
    position: relative;
    width: 95%;
    max-width: 420px;
    min-height: 415px;
    margin: 10px auto auto;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
    transition: .4s ease-out;
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.8);
    outline: none;
    border-radius: 0.25em;
    border: 1px solid rgba(50, 50, 50, 0.3);
}

.modal-img {
    width: 150px;
    margin-top: 35px;
    border-radius: 50%;
}

.modal-name {
    margin-bottom: 5px;
}

.modal-text {
    color: rgba(50, 50, 50, 0.7);
    margin: 10px;
    text-transform: capitalize;
}

.modal-info-container p:first-of-type {
    text-transform: none;
}

.modal hr {
    width: 75%;
    margin: 25px auto 30px;
    border-color: rgba(200, 200, 200, 0.2);
}

.modal-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 95%;
    max-width: 420px;
    padding: 10px 15px 15px;;
    margin: 10px auto auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
}


.modal-btn-container .btn {
    display: inline-block;
    cursor: pointer;
    font-size: 0.85em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    padding: 0.75em 1.5em;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.35em;
    transition: .4s ease-out;
    outline: none;
  }
  

/* ===================================== 
   Media Queries
======================================== */

/* ===================================== 
   Tablet
======================================== */

@media screen and (min-width:768px) {
    #logo {
        margin: 0 25% 10px 25%;
    }
}

@media screen and (min-width: 991px) {
    .header-inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-right: 25px;
        padding-left: 25px;
    }
    #logo {
        margin: 0;
    }

    header h1 {
        margin: 0;
    }

    .search-submit {
        font-size: 14px;
    }

    .modal {
        margin-top: 100px;
    }
}


/* ===================================== 
   Desktop
   Hover styles on desktop 
======================================== */

@media screen and (min-width: 1024px) {

    .card:hover .card-text {
        color: rgba(25, 25, 25, 1); 
    }

    .btn:hover {
        background: rgba(255, 255, 255, 1);
        color: rgba(25, 25, 25, 1); 
    }
}